.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.app-temp{
  font-weight: 100%;
}

.my-title{
  color: yellowgreen;
  font-size: 1cm;

}
.my-title2{
  color: red;
  font-size: 1cm;
}

.my-title3{
  color: gold;
  font-size: 1cm;
}

.my-title4{
color: black;
font-size: 200%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
